@import 'variables';
.header {
  background-color: $primary;
  padding: 2rem 0;
  @media (max-width: $mobile) {
    padding: 1rem 0;
  }
  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 105px 150px 0.3fr 1fr 280px;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: 'logo social . list buy';
    grid-template-rows: 1fr;
    @media (max-width: $laptop) {
      grid-template-columns: 30px 120px 0.1fr 1fr 240px;
    }
    @media (max-width: $tablet) {
      grid-template-columns: auto 20px 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'logo . list' 'social . buy';
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-template-areas: 'logo burger' 'social buy';
    }
  }
  &__logo {
    display: flex;
    gap: 4px;
    grid-area: logo;
  }
  &__text {
    margin: 0;
    font-family: 'Arial';
    color: white;
    font-size: 26px;
    @media (max-width: $laptop) {
      display: none;
    }
    @media (max-width: $tablet) {
      display: block;
    }
  }
  &__social {
    grid-area: social;
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    gap: 1rem;
    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      background-color: white;
      @media (max-width: $laptop) {
        width: 30px;
        height: 30px;
      }
    }
  }

  .menu {
    @media (max-width: $laptop) {
      gap: calc(22rem / 16);
    }
    li {
      transition: color 0.4s ease;
      &:hover {
        color: $info;
      }
    }
    &__button {
      color: $primary;
      flex: 1 1 auto;
      line-height: 1.5;
      letter-spacing: 0.57px;
      text-transform: capitalize;
    }
    grid-area: list;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-family: 'Arial';
    color: white;
    @media (max-width: $mobile) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      background-color: $primary;
      transform: translateY(-100vh);
      transition: transform 0.4s ease;
      font-size: 2rem;
      &.visible {
        transform: translateY(0);
      }
      li {
        &:not(:last-child) {
          margin-bottom: 5rem;
        }
      }
    }
    &__buy {
      grid-area: buy;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.burger {
  grid-area: burger;
  align-self: center;
  justify-self: flex-end;
  position: relative;
  z-index: 999;
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  span,
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  &::before,
  &::after {
    content: '';
    transform-origin: left center;
    transition: all 0.4s ease;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - 1px);
  }
  @media (max-width: $mobile) {
    display: block;
  }

  &.closed {
    span {
      display: none;
    }
    &::before {
      transform: rotate(38deg);
    }
    &::after {
      transform: rotate(-38deg);
    }
  }
}
