@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Cardo';
  font-size: 19px;
  line-height: 1;
  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1370px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
button {
  border: none;
  background-color: inherit;
  font: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
}

.button {
  letter-spacing: 0.38px;
  padding: 1rem;
  max-width: 222px;
  text-transform: capitalize;
  &--outlined {
    background-color: inherit;
    border: 2px solid $info;
  }
  &--underlined {
    text-decoration: underline;
    color: #ffffff;
  }
  &--primary {
    background-color: $info;
  }
}

.title {
  font-weight: 400;
  text-transform: capitalize;
  color: $primary;
  line-height: 1.2;
  &--h1 {
    font-size: calc(64rem / 19);
    letter-spacing: 1.3px;
  }
  &--h2 {
    font-size: calc(42rem / 19);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 50px;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%);
      background-color: $info;
    }
  }
  &--h3 {
    font-size: calc(32rem / 19);
    letter-spacing: 0.32px;
  }
  &--h4 {
    font-size: calc(24rem / 19);
  }
  &--light {
    color: #fff;
  }
  &--dark {
    color: $primary;
  }
}
.image--border {
  position: relative;
  margin-right: 5%;
  @media (max-width: $tablet) {
    &::after {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    padding-bottom: 116%;
    left: 5%;
    top: 5%;
    z-index: 1;
    border: 10px solid $info;
  }
  img {
    z-index: 2;
    position: relative;
  }
}
.marker {
  position: relative;
  padding-left: 15px;
  &::before {
    content: '';
    position: absolute;
    top: 0.5em;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    background-color: $info;
    border-radius: 50%;
  }
}
